html
	head
		meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", name="viewport")
		meta(content="yes", name="apple-mobile-web-app-capable")
		meta(content="black", name="apple-mobile-web-app-status-bar-style")
		meta(content="telephone=no", name="format-detection")
		meta(name="renderer", content="webkit")
		meta(name="keywords", content=site.configs.keywords.escaped)
		meta(name="description", content=site.raw_content.escaped)
		title
			block title
				| {{ request.args.s or site.title }}
		load('/template/style.scss')
	body
		#header
			#nav_wrap
				ul#nav
					li
						a(href="/") Home
					li
						a(href="/archive") Archive
					if has('images')
						li
							a(href='/album') Albums
							if not has('posts')
								+redirect('/album')
					for filename in ['links', 'about']
						if has('%s.md'%filename)
							li
								a(href="/%s.md"%filename)= filename.title()
		#layout
			block content

		#footer
			a(href="https://www.farbox.com") Powered by FarBox