extends base
block title
	| Page not found
block content
	article.post
		header.entry-header
			h1.entry-title Oh, darn, nothing here!
		.entry-content
			p It looks like this page has gone to page heaven. Try clicking the site title to go back home.