extends base
{% from "mixins" import make_paginator%}

block title
	| Archive | {{ site.title }}

block content
	ul.list_with_title
		for year, posts in get_data(type='post', sort='desc', limit=300).group('-date:year')
			li.listing_title= year
			ul.listing
				for post in posts
					li.listing-item
						span.date
							| {{ post.visits or 0 }} | {{ post.date.format("%m.%d") }}
						a(href=post.url, title=post.title)= post.title

	+make_paginator()

