body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, blockquote, dl, dd, dt {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font: normal 12px Arial, Helvetice, Verdana, sans-serif; /**/
    line-height: 1.7em;
    color: #666;
    width: 500px;
    margin: 0 auto;
    padding-top: 50px;
}


.post {
    margin-bottom: 130px;

    .title {
        padding-right: 20px;
        margin-top: 30px;
        text-align: right;
        font-size: 14px;
        margin-right: -35px;
    }

    .cover {
        margin-bottom: 20px;
    }

    .content {
        overflow: hidden;

        p {
            padding-bottom: 15px;
            line-height: 2.2;
            font-size: 14px;

        }
    }

    img {
        max-width: 100%;
        text-indent: 0;
    }

}

.pager {
    font-family: Helvetice;

    a {
        color: #ddd;
        font-size: 72px;
        line-height: 2.2;
        text-align: center;
        padding: 0 10px;

        &:hover {
            color: #fff;
            background: #bfbfbf;
            border-radius: 3px;
        }

    }

    .next {

        right: 10px;
        position: fixed;
        top: 40%;
    }

    .pre {
        left: 10px;
        position: fixed;
        top: 40%;
    }
}

.powered_by {
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;

    a {
        color: #666;
        font-size: 10px;
        margin-right: 15px;
        &:hover {
            color: #E60900;
        }
    }
}


