extends base

block content
	posts = get_data(type='post', limit=300, sort='desc')
	if request.args.use == 'tags'
		entries = posts.group('tags')
	else
		entries = posts.group('-date:year')
	ul.list_with_title
		for key, posts in entries
			li.listing_title= key
			ul.listing
				for post in posts
					li.listing_item
						span.date {{ post.date.format("%Y-%m-%d") }}
						a(href=post.url, title=post.title)= post.title

	.pager
		if pager.has_pre
			a.pre(href=pager.pre_url) Pre
		if pager.has_next
			a.next(href=pager.next_url) Next
