extends base
block title
	if tags
		| {{ tags.join(',') }}
	elif request.args.s
		| {{ request.args.s }} | {{ site.title }}
	else
		| {{ site.title }}
block content
	{% from "include/macros.jade" import make_posts_list %}
	.primary
		+make_posts_list
	include include/sider.html