extends base
block title
	title= request.args.s or tags.join('+') or site.title
block content
	{% from "include/macros.jade" import make_posts_list %}
	.primary
		+make_posts_list
	include include/sider.html